.input-wrapper {
    display: flex;
    flex-grow: 1;
    max-width: 540px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.search-input{
    flex-grow: 1;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 15px;
}

.search-input:focus {
    background-color: #f1efef;
}


